# Built application files
*.apk
*.ap_
*.aab

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Gradle files
.gradle/
build/

# Local configuration file
local.properties

# IntelliJ IDEA files
*.iml
.idea/

# Log files
*.log

# Keystore files
*.jks
*.keystore

# OS-specific files
.DS_Store
Thumbs.db
